/* line 29, ../scss/screen.scss */
.screen {
  width: 720px;
  float: left; }

/* line 34, ../scss/screen.scss */
.all-boards {
  float: left;
  position: relative;
  width: 560px; }

/* line 40, ../scss/screen.scss */
.boards {
  position: relative;
  float: left; }

/* line 44, ../scss/screen.scss */
.boards.top {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

/* line 47, ../scss/screen.scss */
.boards.bottom {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1); }

/* line 51, ../scss/screen.scss */
.board-1, .board-2, .board-3, .board-4 {
  background: #c89678;
  float: left;
  border: 20px solid #aa5a1e;
  border-bottom: none;
  position: relative;
  width: 240px;
  height: 240px; }

/* line 61, ../scss/screen.scss */
.checker {
  position: relative;
  width: 38px;
  height: 38px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }
  /* line 66, ../scss/screen.scss */
  .checker.opp {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5); }
    /* line 69, ../scss/screen.scss */
    .checker.opp:after {
      border: 2px dotted rgba(0, 100, 250, 0.3); }
  /* line 73, ../scss/screen.scss */
  .checker.you {
    background: #191919;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    /* line 77, ../scss/screen.scss */
    .checker.you:after {
      border: 2px dotted rgba(220, 220, 0, 0.3); }
  /* line 81, ../scss/screen.scss */
  .checker:after {
    content: "";
    display: block;
    background: rgba(150, 150, 150, 0.2);
    width: 18px;
    height: 18px;
    margin: 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }

/* line 92, ../scss/screen.scss */
.checker-holder {
  margin: -200px 0 0 -20px; }
  /* line 94, ../scss/screen.scss */
  .checker-holder.movable {
    cursor: pointer; }
  /* line 98, ../scss/screen.scss */
  .checker-holder.available .target {
    display: block; }

/* line 104, ../scss/screen.scss */
.line {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 200px solid transparent;
  position: relative;
  float: left; }
  /* line 112, ../scss/screen.scss */
  .line.white {
    border-top: 200px solid rgba(255, 255, 255, 0.35); }
  /* line 115, ../scss/screen.scss */
  .line.black {
    border-top: 200px solid rgba(0, 0, 0, 0.35); }
  /* line 118, ../scss/screen.scss */
  .line .target {
    background: #ffe100;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    top: -215px;
    left: -5px;
    position: absolute;
    display: none; }

/* line 3, ../scss/dice.scss */
.dice-holder {
  position: absolute;
  margin: 240px 0 0 448px; }
  /* line 6, ../scss/dice.scss */
  .dice-holder .die:first-child {
    margin-right: 20px; }

/* line 10, ../scss/dice.scss */
.die.black {
  background: #334455;
  color: #fff;
  box-shadow: 0px 2px 0 #333333, 0 3px 3px #444444, 0 3px 5px rgba(50, 50, 50, 0.2);
  border-top: 1px solid #0e0e0e; }

/* line 16, ../scss/dice.scss */
.die.empty {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  overflow: hidden; }
  /* line 21, ../scss/dice.scss */
  .die.empty:after {
    background: transparent;
    box-shadow: 0; }

/* line 26, ../scss/dice.scss */
.die.one:after, .die._1:after {
  box-shadow: 0 0.2em 0 white; }

/* line 29, ../scss/dice.scss */
.die.two:after, .die._2:after {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #334455, 2.3em 2.3em 0 #334455, -2.3em -2.3em 0 white, 2.3em 2.4em 0 white; }

/* line 36, ../scss/dice.scss */
.die.three:after, .die._3:after {
  box-shadow: -2.3em -2.3em 0 #334455, 2.3em 2.3em 0 #334455, -2.3em -2.3em 0 white, 2.3em 2.4em 0 white, 0 0.2em 0 white; }

/* line 43, ../scss/dice.scss */
.die.four:after, .die._4:after {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #334455, 2.3em 2.3em 0 #334455, -2.3em 2.3em 0 #334455, 2.3em -2.3em 0 #334455, -2.3em -2.3em 0 white, 2.3em 2.4em 0 white, -2.3em 2.4em 0 white, 2.3em -2.3em 0 white; }

/* line 54, ../scss/dice.scss */
.die.five:after, .die._5:after {
  box-shadow: -2.3em -2.3em 0 #334455, 2.3em 2.3em 0 #334455, -2.3em 2.3em 0 #334455, 2.3em -2.3em 0 #334455, -2.3em -2.2em 0 white, 2.3em -2.2em 0 white, 2.3em 2.4em 0 white, -2.3em 2.4em 0 white, 0 0.2em 0 white; }

/* line 65, ../scss/dice.scss */
.die.six:after, .die._6:after {
  background: transparent;
  box-shadow: -2.3em -2.3em 0 #334455, -2.3em 0 0 #334455, -2.3em 2.3em 0 #334455, 2.3em -2.3em 0 #334455, 2.3em 0 0 #334455, 2.3em 2.3em 0 #334455, -2.3em -2.1em 0 white, -2.3em 0.2em 0 white, -2.3em 2.4em 0 white, 2.3em 2.4em 0 white, 2.3em 0.2em 0 white, 2.3em -2.1em 0 white; }

/* line 80, ../scss/dice.scss */
.die {
  border-top: 1px solid #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  position: relative;
  font-size: 5px;
  display: inline-block;
  box-shadow: 0px 2px 0 #cccccc, 0 3px 3px #444444, 0 3px 5px rgba(50, 50, 50, 0.2);
  background: #fff; }

/* line 90, ../scss/dice.scss */
.die:after {
  content: "";
  width: 20%;
  height: 20%;
  left: 50%;
  top: 50%;
  margin: -10%;
  background: #334455;
  border-radius: 50%;
  display: block;
  position: absolute; }

/* line 132, ../scss/screen.scss */
.side-panel {
  width: 80px;
  background: rgba(170, 90, 30, 0.9);
  float: left;
  height: 520px;
  position: relative; }

/* line 140, ../scss/screen.scss */
.checker-side-holder {
  width: 44px;
  margin: 20px 18px 0;
  height: 194px;
  position: absolute;
  background: transparent;
  float: left;
  -webkit-box-shadow: inset 0 0 20px rgba(30, 30, 30, 0.6);
  -moz-box-shadow: inset 0 0 20px rgba(30, 30, 30, 0.6);
  box-shadow: inset 0 0 20px rgba(30, 30, 30, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 151, ../scss/screen.scss */
  .checker-side-holder.you {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: 20px; }
  /* line 156, ../scss/screen.scss */
  .checker-side-holder .checker {
    width: 40px;
    height: 10px;
    margin: 2px 1px -2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    /* line 162, ../scss/screen.scss */
    .checker-side-holder .checker:nth-child(5n) {
      margin-bottom: 5px; }
    /* line 165, ../scss/screen.scss */
    .checker-side-holder .checker:after {
      display: none; }
    /* line 168, ../scss/screen.scss */
    .checker-side-holder .checker.opp {
      background: white;
      border-color: rgba(128, 128, 128, 0.5); }
    /* line 172, ../scss/screen.scss */
    .checker-side-holder .checker.you {
      background: #191919;
      border-color: rgba(128, 128, 128, 0.5); }

/* line 179, ../scss/screen.scss */
.cube {
  position: absolute;
  margin: 240px 0 0 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  /* line 183, ../scss/screen.scss */
  .cube.opp {
    margin-top: 22px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  /* line 185, ../scss/screen.scss */
  .cube.you {
    margin-top: 456px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

/* line 188, ../scss/screen.scss */
.score {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 0 5px;
  margin: 135px 10px 0;
  height: 50px;
  position: absolute;
  background: white;
  font-size: 12px;
  line-height: 16px;
  width: 50px;
  text-align: center;
  z-index: 4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 205, ../scss/screen.scss */
  .score.you {
    margin-top: 335px; }

/* line 210, ../scss/screen.scss */
.hit-checkers-container {
  position: absolute;
  margin-left: 340px;
  margin-top: 240px; }
