$diceColor:#345;

.dice-holder{
	position: absolute;
	margin: $boardW 0 0 $boardW*3/2 + $borderW*3 + $sidePanelW - 52;
	.die:first-child{
		margin-right: 20px;
	}
}
.die.black{
	background: $diceColor;
	color: #fff;
	box-shadow: 0px 2px 0 (#FFF - #CCC), 0 3px 3px #444, 0 3px 5px rgba(50,50,50,.2);
	border-top: 1px solid (#fff - #f1f1f1);
}
.die.empty{
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	&:after{
		background: transparent;
		box-shadow: 0;
	}
}
.die.one:after, .die._1:after { 
	box-shadow: 0 .2em 0 #FFF 
}
.die.two:after, .die._2:after { 
	background: transparent;
	box-shadow: -2.3em -2.3em 0 $diceColor, 
		     2.3em  2.3em 0 $diceColor, 
		    -2.3em -2.3em 0 #FFF, 
		     2.3em  2.4em 0 #FFF 
}
.die.three:after, .die._3:after { 
	box-shadow: -2.3em -2.3em 0 $diceColor, 
		     2.3em  2.3em 0 $diceColor, 
		    -2.3em -2.3em 0 #FFF, 
		     2.3em  2.4em 0 #FFF, 
		         0   .2em 0 #FFF 
}
.die.four:after, .die._4:after { 
	background: transparent;
        box-shadow: -2.3em -2.3em 0 $diceColor, 
        	     2.3em  2.3em 0 $diceColor, 
        	    -2.3em  2.3em 0 $diceColor, 
        	     2.3em -2.3em 0 $diceColor, 
        	    -2.3em -2.3em 0 #FFF, 
        	     2.3em  2.4em 0 #FFF, 
        	    -2.3em  2.4em 0 #FFF, 
        	     2.3em -2.3em 0 #FFF 
}
.die.five:after, .die._5:after { 
	box-shadow: -2.3em -2.3em 0 $diceColor, 
		     2.3em  2.3em 0 $diceColor, 
		    -2.3em  2.3em 0 $diceColor, 
		     2.3em -2.3em 0 $diceColor, 
		    -2.3em -2.2em 0 #FFF, 
		     2.3em -2.2em 0 #FFF, 
		     2.3em  2.4em 0 #FFF, 
		    -2.3em  2.4em 0 #FFF,
		         0   .2em 0 #FFF 
}
.die.six:after, .die._6:after {
	background: transparent;
	box-shadow: -2.3em -2.3em 0 $diceColor,
		    -2.3em      0 0 $diceColor,
		    -2.3em  2.3em 0 $diceColor,
		     2.3em -2.3em 0 $diceColor,
		     2.3em      0 0 $diceColor,
		     2.3em  2.3em 0 $diceColor,
		    -2.3em -2.1em 0 #FFF,
		    -2.3em   .2em 0 #FFF,
		    -2.3em  2.4em 0 #FFF,
		     2.3em  2.4em 0 #FFF,
		     2.3em   .2em 0 #FFF,
		     2.3em -2.1em 0 #FFF
}
.die {
	border-top: 1px solid #f1f1f1;
	width: 40px; height: 40px;
	border-radius: 6px;
	position: relative;
	font-size: 5px;
	display: inline-block;
	box-shadow: 0px 2px 0 #CCC, 0 3px 3px #444, 0 3px 5px rgba(50,50,50,.2);
	background:#fff;
}
.die:after {
        content: "";
	width: 20%; 
	height: 20%; 
	left: 50%; 
	top: 50%;
	margin: -10%;
	background: $diceColor;
	border-radius: 50%;
	display: block;
	position: absolute;
}