@import "compass/css3";

$checkerR:20px;
$borderW:$checkerR;
$boardW:$checkerR*12;
$boardH:$boardW;
$checkerBorder:1px;
$checkerAfterBorder:2px;
$sidePanelW:$checkerR*4;
$allBoardsW:$boardW*2 + $borderW*4;
$lineH: $checkerR * 10;

$you: rgb(25,25,25);
$youBorderColor:rgba(255,255,255,.5);
$youBorder: 1px solid $youBorderColor;

$opp: rgb(255,255,255);
$oppBorderColor: rgba(0,0,0,.5);
$oppBorder: 1px solid $oppBorderColor;

@mixin flipV(){
	@include scaleY(-1);
}

@mixin flipH(){
	@include scaleX(-1);
}

.screen{
	width: $allBoardsW + $sidePanelW*2;
	float: left;
}

.all-boards{
	float: left;
	position: relative;
	width: $allBoardsW;
}

.boards{
	position: relative;
	float: left;
}
.boards.top{ 
	@include flipH()
}
.boards.bottom{ 
	@include flipV()
}

.board-1, .board-2, .board-3, .board-4{
	background: rgba(200,150,120,1);
	float: left;
	border:$borderW solid rgba(170,90,30,1);
	border-bottom:none;
	position: relative;
	width: $boardW;
	height: $boardH;
}

.checker{
	position: relative;
	width: $checkerR*2 - $checkerBorder*2;
	height: $checkerR*2 - $checkerBorder*2;
	@include border-radius($checkerR);
	&.opp{
		background: $opp;
		border:$oppBorder;
		&:after{
			border:$checkerAfterBorder dotted rgba(0,100,250,.3);	
		}
	}
	&.you{
		background: $you;
		border: $youBorder;

		&:after{
			border:$checkerAfterBorder dotted rgba(220,220,0,.3);		
		}
	}
	&:after{
		content:"";
		display:block;
		background: rgba(150,150,150,.2);
		width:$checkerR - $checkerAfterBorder;
		height:$checkerR - $checkerAfterBorder;
		margin:$checkerR/2 - $checkerBorder*2;
		@include border-radius($checkerR);
	}
}

.checker-holder{
	margin: - $lineH 0 0 -1*$checkerR;
	&.movable{
		cursor: pointer;
	}
	&.available{
		.target{
			display: block;
		}
	}
}

.line{
	width: 0; 
	height: 0; 
	border-left: $checkerR solid transparent;
	border-right: $checkerR solid transparent;
	border-top: $lineH solid transparent;
	position: relative;
	float: left;
	&.white{
		border-top: $lineH solid rgba(255,255,255,.35);
	}
	&.black{
		border-top: $lineH solid rgba(0,0,0,.35);
	}
	.target{
		background: rgb(255,225,0);
		width: 10px;
		height: 10px;
		@include border-radius(10px);
		top: - $lineH - 15px;
		left:-5px;
		position: absolute;
		display:none;
	}
}

@import "dice";

.side-panel{
	width: $sidePanelW;
	background: rgba(170,90,30,.9);
	float: left;
	height: $boardH*2 + $borderW*2;
	position: relative;
}

.checker-side-holder{
	$checker-height:$checkerR/2;
	$mb:$checkerR/4;
	width: $checkerR*2 + 4px;
	margin:$borderW $borderW +(-2px) 0;
	height: ($checker-height +2) *15 + $mb*2 + 4px;
	position: absolute;
	background: transparent;
	float: left;
	@include box-shadow(inset 0 0 20px rgba(30,30,30,.6));
	@include border-radius($checkerR/4);
	&.you{
		@include flipV();
		bottom:$borderW;
	}

	.checker{
		width: $checkerR*2;
		height: $checker-height;
		margin: 2px 1px -2px;
		@include border-radius($checkerR/5);

		&:nth-child(5n){
			margin-bottom: $mb;
		}
		&:after{
			display: none
		}
		&.opp{
			background: $opp;
			border-color:lighten($oppBorderColor,50%);
		}
		&.you{
			background: $you;
			border-color:darken($youBorderColor,50%);
		}
	}
}

.cube{
	position: absolute;
	margin: $boardH 0 0 $borderW;
	@include rotate(-90deg);
	&.opp{ margin-top: $borderW*1.1; 
		@include rotate(0deg) }
	&.you{ margin-top: $boardH*2 - $borderW*1.2; 
		@include rotate(0deg) }
}
.score{
	$margin:$boardH*9/16;
	$height:$sidePanelW*5/8;
	$width:$height;
	$padding:5px;
	@include rotate(-90deg);
	padding: 0 $padding;
	margin: $margin $sidePanelW/8 0;
	height: $height;
	position: absolute;
	background: white;
	font-size:12px;
	line-height:16px;
	width: $width;
	text-align: center;
	z-index: 4;
	@include border-radius(5px);
	&.you{
		margin-top: ($boardH + $borderW)*2 - $margin - $height;
	}
}

.hit-checkers-container{
	position: absolute;
	margin-left: $checkerR*12 + $sidePanelW + $borderW;
	margin-top:$borderW + $lineH + $checkerR;
}